<%- include("partials/header"); %>
<h1>
	 This is the show template
</h1>


	<p><%=campground.name%></p>
	<img src="<%=campground.image%>">
	<p>
		<%=campground.description%> 
		
<!-- 	description not showing -->
	</p>






<div>
	<a href="/campgrounds" class= "btn btn-primary" > Go back </a>
</div>



<%- include("partials/footer"); %>