<%- include('partials/header'); %>


<h1>
	You fell in love with: <%=thing%>
</h1>

<%if(thing.toLowerCase() === "rusty"){%>
<p>
	GOOD CHOICE! RUSTY IS THE BEST!
</p>
<%} else {%>
	<p>
		Bad choice! of <%=thing%>!
</p>
<% } %>
<!-- <%= %> adds it to the html -->
<!-- <% %> logic, don't need to put it in an html -->

<p>
	P.S. this is the love.ejs file
</p>

<%- include('partials/footer'); %>