<%- include("partials/header"); %>
<h1>
	 This is the show template
</h1>


	<p><%=campground.name%></p>
	<img src="<%=campground.image%>">
	<p>
		<%=campground.description%> 
	</p>

	<% campground.comments.forEach((x)=>{%>
	<p><strong><%=x.author%></strong> - <%=x.text%></p>
<%})%>




<div>
	<a href="/campgrounds" class= "btn btn-primary" > Go back </a>
</div>



<%- include("partials/footer"); %>